<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Job add</title>
</head>

<body>

<h2>Add job</h2>

<form class="row g-3 needs-validation" novalidate th:action="@{/projects/add}" method="post">

    <!-- TODO: add inputs -->
    <div class="col-md-4 form-group required">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" placeholder="Name" required type="text">
    </div>

    <div>
        <!-- cancel -->
        <a th:href="@{/jobs}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <!-- submit -->
        <button class="btn btn-primary" id="save" type="submit">Add job</button>
    </div>

</form>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
