<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Title</title>
</head>

<body>
<div>
    <h1>Jobs</h1>

    <div class="p-2">
        <a th:href="@{/jobs/add}">
            <button class="btn btn-primary" type="button">Create job</button>
        </a>
    </div>

    <!-- TODO: add table -->
    <!--
    - label: job name
    - label: company
    - label: location
    - label: creation date

    - button: add job
    -->
    <!-- TODO: don't hardcode -->
    <a th:href="@{/jobs/{id} (id=1)}">
        <label>Java developer</label>
    </a>

    <!-- edit button -->
    <a th:href="@{/jobs/{id}/edit(id = 1)}">
        <i class="fas fa-edit"></i>
    </a>

    <!-- delete button -->
    <a th:href="@{/jobs/{id}/delete(id = 1)}">
        <i class="fas fa-trash"></i>
    </a>

</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
